<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>auctionServer</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.bestwait.auction.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ViewSuccServlet</servlet-name>
    <servlet-class>com.bestwait.auction.servlet.ViewSuccServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ViewFailServlet</servlet-name>
    <servlet-class>com.bestwait.auction.servlet.ViewFailServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ViewKindServlet</servlet-name>
    <servlet-class>com.bestwait.auction.servlet.ViewKindServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddItemServlet</servlet-name>
    <servlet-class>com.bestwait.auction.servlet.AddItemServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddKindServlet</servlet-name>
    <servlet-class>com.bestwait.auction.servlet.AddKindServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ViewBidServlet</servlet-name>
    <servlet-class>com.bestwait.auction.servlet.ViewBidServlet</servlet-class>
  </servlet>
  <servlet>
  <servlet-name>ViewOwnerItemServlet</servlet-name>
  <servlet-class>com.bestwait.auction.servlet.ViewOwnerItemServlet</servlet-class>
  </servlet>
  <servlet>
  <servlet-name>AddBidServlet</servlet-name>
  <servlet-class>com.bestwait.auction.servlet.AddBidServlet</servlet-class>
  </servlet>
  <servlet>
  <servlet-name>ItemListServlet</servlet-name>
  <servlet-class>com.bestwait.auction.servlet.ItemListServlet</servlet-class>
  </servlet>
  <servlet>
  <servlet-name>GetItemServlet</servlet-name>
  <servlet-class>com.bestwait.auction.servlet.GetItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ViewSuccServlet</servlet-name>
    <url-pattern>/viewSucc.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ViewFailServlet</servlet-name>
    <url-pattern>/viewFail.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ViewKindServlet</servlet-name>
    <url-pattern>/viewKind.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddItemServlet</servlet-name>
    <url-pattern>/addItem.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddKindServlet</servlet-name>
    <url-pattern>/addKind.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ViewBidServlet</servlet-name>
    <url-pattern>/viewBid.jsp</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>ViewOwnerItemServlet</servlet-name>
    <url-pattern>/viewOwnerItem.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddBidServlet</servlet-name>
    <url-pattern>/addBid.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ItemListServlet</servlet-name>
    <url-pattern>/itemList.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetItemServlet</servlet-name>
    <url-pattern>/getItem.jsp</url-pattern>
  </servlet-mapping>
</web-app>